.#{$source}-card {
    max-width: 200px;
    padding: 0;
    border: {
        radius: .25rem;
        color: $secondary;
    }
    img {
        width: 100%;
        height: 150px;
        display: block;
        border: {
            color: $secondary;
        }
    }

    &-body {
        width: 100%;
        text-align: center;
        color: #fff;
        background-color: $secondary;
        letter-spacing: .25rem;
        padding: {
            top: .8rem;
            bottom: 1.5rem;
        }
    }

    h1 {
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        font: {
            size: 20px;
            weight: bold;
        }
        padding: {
            top: .8rem;
            bottom: .8rem;
        }
        border: {
            radius: 0 0 .25rem .25rem ;
            width: 1px;
            style: solid;
            color: $secondary;
        }
        margin-top: 0;
    }
}

@function scale($val, $max, $radio: 1.5) {
    @while $val > $max {
        $val: calc($val / $radio);
    }
    @return $val;
}

.main-card {
    height: 250px;
    width: scale(250px, 200px, 1.25);
    background-color: $violet;
}