@function color ($name) {
    @return map-get($map: $papelette, $key: $name)
};

@function changeColor ($name, $type: darken, $amount: 1, $colorMix: #fff) {
    $color: color($name);
    @if $type ==darken {
        $color: darken($color, $amount);
    }
    @else if $type == lighten {
        $color: lighten($color, $amount);
    }
    @else if $type == mixcolor {
        $color: mix($color, $colorMix);
    }
    @else {
        /* opacity */
        $color : rgba($color, );
    }
    @return $color
}

